<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GESL_reader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GESL_reader.Properties.Settings>
            <setting name="Email" serializeAs="String">
                <value>provide email</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>provide API key</value>
            </setting>
            <setting name="Proxy" serializeAs="String">
                <value />
            </setting>
        </GESL_reader.Properties.Settings>
    </userSettings>
</configuration>